@import "../../styles/includes/index";

.footer {
  position: relative;

  height: 100vh;
  display: flex;

  h1 {
    position: relative;
    top: -10vmin;

    text-align: center;

    @include media(tabletMin) {
      top: auto;
    }
  }
  h4 {
    text-align: center;
  }
}
