@value easeOutQuart from 'styles/values.module.css';
@import "../../styles/includes/index";

$gutter: 16px;

.Avatar {
  display: block;

  &--image {
    // transition: all 10ms;

    // transform: translate3d(-213px, -357px, 0);
  }

  &--introduction {
    position: absolute;
    top: 50%;
    right: $gutter/2;
    bottom: 0;
    z-index: 10;

    width: colWidth(10);
    max-width: 85vmin;
    height: auto;

    transform: translate3d($gutter*2, -50%, 0);

    @include media(tabletMin) {
      width: colWidth(7);
    }

    .Avatar--circle {
      transform: scale(0.3) translate3d(0, 0, 0);
      transform-origin: bottom center;

      transition: transform 1s easeOutQuart;
    }

    .Avatar--image {
      transform: translateZ(1px);
      will-change: transform;
    }

    &.active {
      .Avatar--circle {
        transform: scale(1) translate3d(0, 0, 0);
      }
    }
  }
}
