main {
  background: linear-gradient(
    0deg,
    color(dark),
    color(dark),
    color(dark),
    color(red),
    color(red),
    color(dark),
    color(dark),
    color(blue),
    color(blue),
    color(dark),
    color(dark),
    color(red)
  );
  background-position: 0% 0%;
  background-size: 1000% 1000%;
}
